# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
examples/bin/*
test/bin/*

#Temp Files
.*.sw*

#Object Files
obj/*

#Personal
.ycm_extra_conf.pyc
old/*

#ignore test for a bit
test/*

#Ignore Documentation until finished.
doc/*
