# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
examples/bin/*
tests/bin/*

#Temp Files
.*.sw*

#Object Files
**/debug
**/Debug
**/release
**/Release
**/build
**/Build

examples/obj/*
tests/obj/*

#Personal
*.py*

#Ignore Documentation until finished.
doc/*
